@model OnlineShopping.Models.LaptopModel

@*@{
    ViewData["Title"] = "Details";
}*@



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div>
    <h4>LaptopModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="visibility:hidden">
            @Html.DisplayNameFor(model => model.Sno)
        </dt>
        <dd class="col-sm-10" style="visibility:hidden">
            @Html.DisplayFor(model => model.Sno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Html.DisplayFor(model => model.Image)" width="100px" height="100px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specifications)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specifications)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            <i class="fa fa-rupee"></i>@Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>


    
    <a href="@Url.Action("BuyNow","BuyNow",new { sno = Model.Sno,val = "Add" })" class="=btn btn-info btn-lg" style="text-decoration: none"> 
        <i class="fa fa-shopping-cart"></i>
        <span>
            Add To Cart
        </span>
    </a> |
    <!--</a>-->
    @*<a  asp-action="Buy" class="btn btn-info btn-lg" >
            <span class="fa fa-cart-plus"></span>
            Buy Now
        </a><br/>*@
    <a class="btn btn-primary" asp-action="Index">Back to Menu</a>
</div>
